# WooCommerce API Credentials
WOOCOMMERCE_URL=https://test.purostill.com
WOOCOMMERCE_CONSUMER_KEY=ck_1dc96ce2231aca56256e7208c8cebd344bc58b3b
WOOCOMMERCE_CONSUMER_SECRET=cs_36219d47254f25bb78dea04aa265bcf31a5e964c

# API Base URL
NEXT_PUBLIC_API_URL=/api

